<div class="container">
  <h2>Your Items</h2>
  <% @bookings.each do |booking| %>
    <div class="card">
      <div class="d-flex">
        <p>Item: <%= booking.item.name %></p>
        <img src="<%= booking.item.image_url %>" alt="<%= booking.item.name %>">
      </div>
      <div class="d-flex">
        <p>From: <%= booking.start_date %> </p>
        <p> -- <%= booking.end_date %></p>
      </div>
      <p>Status: <%= booking.status %></p>
      <p>Borrower: <%= booking.user.email %></p>
      <p>Loaner: <%= booking.item.user.email %></p>
    </div>
  <% end %>
</div>
