<div class="container">
  <div class="row justify-content-evenly  card-bookings-buttons">
    <div class="col-2 text-center">
      <%= link_to items_path, class: "back-button" do %>
        <i class="fa-solid fa-arrow-left"></i> NEW IN
      <% end %>
    </div>
    <h2 class="header-bookings col-2">Your Closet</h2>
    <div class="col-2 text-center">
      <%= link_to new_item_path, class: "back-button" do %>
        ADD ITEM <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
    <div class=" d-flex mb-5">
      <div class="col">
        <h3 class="text-center header">Reservation</h3>
        <div class="cards-half">
          <% @bookings.each do |booking| %>
            <div class="item-card">
              <% if booking.item.photo.attached? %>
                <%= cl_image_tag(booking.item.photo.key) %>
              <% else %>
                <%= image_tag(booking.item.image_url) %>
              <% end %>
              <div class="card-info">
                <h2><%= booking.item.name %></h2>
                <p>$<%= booking.item.price * (booking.end_date - booking.start_date).to_i %> total</p>
                <div>
                  <%= booking.status %>
                  <p>From: <%= booking.start_date %> </p>
                  <p> Until: <%= booking.end_date %></p>
                  <p> Zipcode: <%= booking.zipcode %></p>
                  <p> Address: <%= booking.address %></p>
                  <p> City: <%= booking.city %></p>
                  <p> State: <%= booking.state %></p>
                </div>
              </div>
              <div class="d-flex mb-2">
                <div>
                  <% if policy(booking).edit? %>
                    <%= link_to "Edit", edit_booking_path(booking), class: "button me-1 button-space" %>
                  <% end %>
                </div>
                <div class="d-flex mb-2" >
                  <% if policy(booking).destroy? %>
                    <%= link_to "Remove", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Remove request?" }, class: "button" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col">
        <h3 class="text-center header">My Items</h3>
        <div class="cards-half">
          <% @current_user.items.each do |item| %>
            <div class="item-card">
              <% if item.photo.attached? %>
                <%= cl_image_tag(item.photo.key) %>
              <% else %>
                <%= image_tag(item.image_url) %>
              <% end %>
              <div class="card-info">
                <h2> <%= item.brand %> </h2>
                <p> <%= item.name  %></p>
                <h2> $<%= item.price %> / day</h2>
              </div>
              <div class="d-flex mb-2">
                <% if policy(item).edit? %>
                  <%= link_to "Edit", edit_item_path(item), class: "button me-1 button-space" %>
                <% end %>
                <% if policy(item).destroy? %>
                  <%= link_to "Remove", item_path(item), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this item?" }, class: "button" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
