<div>
  <h2 class="header">NEW IN</h2>
</div>
<div class="container">
  <div class="cards">
    <% @items.each do |item| %>
      <div class="item-card">
        <%= link_to item_path(item) do %>
          <%= image_tag(item.image_url) %>
        <% end %>
        <div class="card-info">
          <%# <div> %>
          <h2> <%= item.brand %> </h2>
          <p> <%= item.name  %></p>
          <div class="d-flex justify-content-between">
            <h2> $<%= item.price %> </h2>
            <%= link_to "quick add", new_item_booking_path(item), class: "btn btn-light" %>
          </div>
          <%# </div> %>
        </div>
      </div>
    <% end %>
  </div>
</div>
