<h2 class="header">NEW IN</h2>


<div class="search">
 <div id="search_bar">
    <%= form_with url: items_path, method: :get, class: "d-flex"  do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for an item"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary"   %>
    <% end %>
    </div>
</div>










<div class="container">
  <div class="cards">
    <% @items.each do |item| %>
      <div class="item-card">
        <div class="HeartAnimation heart-position " data-controller="heart" data-action="click->heart#animate"></div>
        <%= link_to item_path(item) do %>
          <%= image_tag(item.image_url) %>
        <% end %>
        <div class="card-info d-flex justify-content-between">
          <div>
            <h2> <%= item.brand %> </h2>
            <p> <%= item.name  %></p>
            <h2> $<%= item.price %> / day</h2>
            <div>
            </div>
            <%= link_to "quick add", new_item_booking_path(item), class: "button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
