
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img src="<%= @item.image_url %>" alt="<%= @item.name %> Image" class="img-thumbnail">
    </div>
    <div class="col-sm-6 d-flex justify-content-center align-items-center">
      <div class="col-md-10 mt-4">
        <h3 ><%= @item.name %></h3>
        <p class="mt-3">Brand: <%= @item.brand %></p>
        <p>Price: $<%= @item.price %></p>
        <%= link_to "Add an item", new_item_booking_path(@item), class: "btn btn-primary mt-1" %>
      </div>
    </div>
  </div>
</div>
