<!DOCTYPE html>
<html>
  <head>
    <title>Luxifi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'shared/flashes' %>

<div class="navbar fixed-top">
  <div class="navbar-flex">
    </div>
  <div class="navbar-flex text-center">
<h1><a style="text-decoration:none; color:#3B3B3B;" href=/>LUXIFI</a></h1>


   <p style="font-family:Nanum Myeongjo"> Designers | Clothing | Shoes | Bags </p>
   </div>
   <div class="navbar-flex">
     <ul class="justify-content-end">
    <li><a href="/items"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></a></li>
    <li><a href="users/sign_in"><i class="fa-solid fa-user" style="color: #000000;"></i></a></li>
    <li><a href="#"><i class="fa-solid fa-bookmark" style="color: #000205;"></i></a></li>
    <li><a href="/bookings"><i class="fa-solid fa-bag-shopping" style="color: #000000;"></i></a></li>
    </ul>
    </div>
</div>


    <%= yield %>
  </body>
</html>
